@model IEnumerable<BudgetTracker.Models.Purchase>

@{
    ViewData["Title"] = "Index";
}

<h1>Spending List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary m-2"><i class="fas fa-plus"></i> &nbsp; Add </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Necessity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cat.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod.PaymentMethodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Necessity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group" role="rowgroup">
                            <a asp-action="Edit" asp-route-id="@item.PurchaseId" class="btn btn-primary btn-sm mr-1"><i class="far fa-edit"></i></a>
                            <a asp-action="Details" asp-route-id="@item.PurchaseId" class="btn btn-info btn-sm mr-1"><i class="fas fa-info"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.PurchaseId" class="btn btn-danger btn-sm "><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
